.button {
    min-width: 200px;
    padding: 10px 0;
    border: 0;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--main-bg-color);

    cursor: pointer;

    &__icon {
        margin-left: 10px;
    }
}

.button--service {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--secondary-accent-color);
    }
}

.button--sending {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--secondary-accent-color);
    }
}

.button--signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}



