.adress__item {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px){
        margin-bottom: 9px;  
    }

    &:last-child {
        margin-bottom: 0;
    }
}


.adress__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.adress__link--accent {
    color: var(--main-bg-color);
}