.nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: none;
    }

    &__item {
        margin-right: 50px;
    }
    
    &__item:last-child {
        margin: 0;
    }
}



.nav__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-txt-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}



.nav__link--current {
    color: var(--accent-color);

    &::after {
        content: "";
        position: absolute;
    
        display: block;
        width: 100%;
        height: 4px;
        bottom: -1px;
        border-radius: 2px;
    
        background-color: var(--accent-color);
    }
}

