.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    &__item {
        flex-basis: calc((100% - 90px) / 3);
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

