.works {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    &__inner {
        position: relative;
        overflow: hidden;
    }
}

.works__popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 24px;
    transform: translateY(100%);

    background-color: rgba(33, 150, 243, 0.9);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) {
        padding: 63px 24px;
    }


    .works:hover &,
    .works:focus & {
        transform: translateY(0);
    }
}

.works__meta {
    font-size: 12px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--main-bg-color);

    @media screen and (min-width: 480px) {
        font-size: 18px;
    }
}

.works__wrapper {
    padding: 20px 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--border-accent-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-accent-color);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--border-accent-color);

    @media screen and (min-width: 768px) {
        flex-grow: 1;
    }

}

.works__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-txt-color);

}

.works__description {
    font-size: 16px;
    line-height: 1.87;

    color: var(--main-txt-color);
}