:root {
    --main-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --accent-bg-color: #f5f4fa;
    --main-txt-color: #757575;
    --title-txt-color: #212121;
    --accent-color: #2196f3;
    --secondary-accent-color: #188ce8;
    --accent-black-color: #000000;
    --border-color: #ececec;
    --border-accent-color: #eeeeee;
    --accent-link-color: #afb1b8;
    --bg-link-color: #44454e;

    --main-font: Roboto,
    sans-serif;
    --accent-font: Raleway, sans-serif;
}